*{
    margin: 0;
    padding: 0;
    border: border-box;
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    padding: 0 10px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
}

.nav-bar, .lien{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.lien{
    width: 75%;
    list-style: none;
    height: 100rem;
}

.logo{
    display: flex;
    gap: 10px;
    align-items: center;
}

.reserver{
    height: 100%;
}

.reserver > button{
    flex-grow: 1;
    height: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 0 20px;
}

.reserver > img{
    padding-left: 5px;
}

.section1{
    margin-top: 50px;
    display: grid;
    background-image: url('fond-section1.jpg');
    background-size: cover;
    background-position: center;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.taille1{
    grid-column: 3/5;
    grid-row: 4;
    font-size: 1.7rem;
    align-self: self-end;
}

.taille2{
    grid-column: 3/6;
    grid-row: 5;
    font-size: 2.5rem;
    align-self: self-start;
}

.section1 > button{
    padding: 10px;
    grid-column: 3;
    grid-row: 7;
    border-style: none;
    
}

.section2{
    display: flex;
    background-color: black;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}

.section2 p{
    color: white;
}

.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #FFFFFF;
}

.titre-section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titre-section3 p{
    font-size: 1.8rem;
}

.gras{
    font-weight: bold;
}

.corps-section3{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    gap: 20px;
}

.paragraphe{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.liste-section3{
    list-style: none;
    font-size: 2rem;
}

.titre-corps-section3{
    font-size: 1.2rem;
}

.section4{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E1E20;
    padding: 50px;
    gap: 50px;
}

.titre-section4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

.titre-section4 p{
    color: white;
}

.titre-titre-section4{
    font-size: 2rem;
}

.corps-section4{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;

}

h2, .corps-section4 > section p{
   color: white;
}

.corps-section4 > section{
   display: flex;
   flex-direction: column;
   gap: 10px;
   background-color: black;
   padding: 10px;
}

.corps-section4 > section img{
   width: 100%;
}

